@import "../../../styles/variables/breakpoints.scss";

.root {
  box-sizing: border-box;
  margin-inline: auto;
  padding-inline: 24px;
  width: 100%;
  &.--lg {
    max-width: $width-desktop-lg;
  }
  &.--md {
    max-width: $width-desktop-md;
  }
  &.--sm {
    max-width: $width-desktop-sm;
  }
  &.--full {
    max-width: 100%;
  }
}
