$color-red-1: rgb(217, 48, 37);
$color-blue-1: rgb(53, 84, 209);
$color-blue-2: rgb(229, 240, 253);
$color-black: rgb(5, 16, 54);
$color-white: rgb(255, 255, 255);
$color-light-1: rgb(105, 116, 136);
$color-dark-1: rgb(26, 46, 123);