@import './variables/breakpoints.scss';

@mixin container-lg {
  padding-inline: 24px;
  max-width: $width-desktop-lg;
  margin-inline: auto;
}
@mixin container {
  padding-inline: 24px;
  max-width: $width-desktop-md;
  margin-inline: auto;
}
@mixin container-sm {
  padding-inline: 24px;
  max-width: $width-desktop-sm;
  margin-inline: auto;
}